@import "tailwindcss";

:root {
  --background: #F1ECDB;
  --text: #292F17;
}

html, body {
  height: 100%
}

body {
  background: var(--background);
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
  color: var(--text);
}

.site {
  background: var(--background);
  color: var(--text);
}

/* hero styles */
.hero {
  display: grid;
  justify-items: center;
  align-content: start;
  text-align: center;

  padding-top: clamp(3rem, calc(8vw + 4vh), 18rem);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.25rem;
  --title-size: clamp(3.5rem, 10vw, 8rem);
}

.heroFrame {
  position: relative;
  display: inline-grid;
  justify-items: center;
}

.heroStack {
  display: grid;
  justify-items: center;

}

.heroSpacer {
  height: clamp(2rem, calc(12vw + 6vh), 22rem);
}

.title {
  margin: 0;
  font-weight: 800;
  letter-spacing: -0.10em;
  line-height: 0.9;
  font-size: clamp(3.5rem, 10vw, 8rem);
  font-family: "Apple Chancery", "Lucida Calligraphy", cursive, sans-serif;

}

.pretitle {
  margin: 0 0 0.25rem;
  justify-self: start;
  width: fit-content;
  font-weight: 300;
  letter-spacing: -0.05em;
  font-family: "DM Sans", ui-sans-serif, system-ui, sans-serif;;
  font-size: clamp(0.5rem, 1.3vw, 1.1rem);
}

.subtitle {
  margin: 0.5rem 0 0;
  justify-self: end;
  font-weight: 300;
  letter-spacing: -0.05em;
  font-family: "DM Sans", ui-sans-serif, system-ui, sans-serif;;
  font-size: clamp(0.5rem, 1.3vw, 1.1rem);
}

/* about styles */
.about {
  padding: 2rem 1.5rem 6rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
}
.aboutGrid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(1.5rem, 4vw, 4rem);
  align-items: start;
}
@media (min-width: 768px) {
  .aboutGrid {
    grid-template-columns: 0.8fr 1.25fr;
  }
}
.aboutTitle, .projectTitle {
  margin: 0;
  font-family: "DM Sans", system-ui, sans-serif;
  font-weight: 800;
  letter-spacing: -0.04em;
  font-size: clamp(1.2rem, 3.2vw, 2.6rem);
  text-align: center;
}
.aboutText {
  text-align: justify;
  font-size: clamp(0.85rem, 1.25vw, 1.25rem);
  letter-spacing: -0.05em;
}
.photoStrip {
  transform:  scale(1.3) translateY(-13%);
  padding-left: 4rem;
  justify-self: top center;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3));
}
@media (max-width: 767px) {
  .photoStrip {
    transform: scale(1);
    padding-left: 0;
    justify-self: center;
    margin-bottom: 2rem;
  }
}

/* project styles */
.project {
  background: var(--text);
  color: var(--background);
}
.projectTitle {
  padding: 3rem;
}
.projectGrid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1.5rem 3rem;
  width: 100%;
}
.projectCard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
.projectCard:nth-child(odd) {
  align-self: flex-start;
  margin-left: calc(25% - 45px);
}
.projectCard:nth-child(even) {
  align-self: flex-end;
  margin-right: calc(25% - 45px);
}
.projectIcon {
  height: auto;
  display: block;
  width: 150px;
}
.projectIcon.dddLogo {
  width: 120px;
  height: 150px;
}