@import "tailwindcss";

:root {
  --background: #F1ECDB;
  --text: #292F17;
}

html, body {
  height: 100%
}

body {
  background: var(--background);
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
  color: var(--text);
}

.hero {
  min-height: 90vh;
  display: grid;
  place-items: center;
  text-align: center;
  padding: 6rem 1.5rem;
}

.heroStack {
  display: grid;
  justify-items: center;
}

.title {
  margin: 0;
  font-weight: 800;
  letter-spacing: -0.10em;
  line-height: 0.9;
  font-size: clamp(3.5rem, 10vw, 8rem);
  font-family: "Mea Culpa", cursive;
}

.subtitle {
  margin-left: 50px;
  font-weight: 300;
  letter-spacing: -0.05em;
  font-family: "DM Sans", ui-sans-serif, system-ui, sans-serif;;
  font-size: clamp(0.95rem, 1.8vw, 1.6rem);
}
